# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\...0000000000\UET-BombermanGame-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
